node_modules/
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/
waitlist-data.json
.vercel
lumen/
Lumen_Product_Proposal.pdf
Lumen_lgo_blue.jpeg
lumen-logo.jpeg
lumen-logo.jpg
ezgif-frame-*.png

.vercel
